<ion-view title="Events" hide-nav-bar="true" id="view-login">
  <ion-content class="ion-content">
    <div id="content-letters">
      <div id="header-buttons">
        <div id="header-buttons-back">
          <a href="javascript:history.back()">
            <img src="img/bt_back_normal.png" alt="VOLTAR">
          </a>
        </div>
        <div id="header-buttons-home">
          <a href="#events">
            <img src="img/bt_home.png" alt="HOME">
          </a>
        </div>
        <div class="clear"></div>
      </div>
      <h1>
        <small>{{dateEvent}}</small>
        <br />
        {{event.title}}
      </h1>
      <div class="row">
        <div class="col col-20">
          <a href="#/names/{{event.id}}/a">
            <img src="img/bt_a_normal.png" alt="A">
          </a>
        </div>
        <div class="col col-20">
          <a href="#/names/{{event.id}}/b">
            <img src="img/bt_b_normal.png" alt="B">
          </a>
        </div>
        <div class="col col-20">
          <a href="#/names/{{event.id}}/c">
            <img src="img/bt_c_normal.png" alt="C">
          </a>
        </div>
        <div class="col col-20">
          <a href="#/names/{{event.id}}/d">
            <img src="img/bt_d_normal.png" alt="D">
          </a>
        </div>
        <div class="col col-20">
          <a href="#/names/{{event.id}}/e">
            <img src="img/bt_e_normal.png" alt="E">
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col col-20">
          <a href="#/names/{{event.id}}/f">
            <img src="img/bt_f_normal.png" alt="F">
          </a>
        </div>
        <div class="col col-20">
          <a href="#/names/{{event.id}}/g">
            <img src="img/bt_g_normal.png" alt="G">
          </a>
        </div>
        <div class="col col-20">
          <a href="#/names/{{event.id}}/h">
            <img src="img/bt_h_normal.png" alt="H">
          </a>
        </div>
        <div class="col col-20">
          <a href="#/names/{{event.id}}/i">
            <img src="img/bt_i_normal.png" alt="I">
          </a>
        </div>
        <div class="col col-20">
          <a href="#/names/{{event.id}}/j">
            <img src="img/bt_j_normal.png" alt="J">
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col col-20">
          <a href="#/names/{{event.id}}/k">
            <img src="img/bt_k_normal.png" alt="K">
          </a>
        </div>
        <div class="col col-20">
          <a href="#/names/{{event.id}}/l">
            <img src="img/bt_l_normal.png" alt="L">
          </a>
        </div>
        <div class="col col-20">
          <a href="#/names/{{event.id}}/m">
            <img src="img/bt_m_normal.png" alt="M">
          </a>
        </div>
        <div class="col col-20">
          <a href="#/names/{{event.id}}/n">
            <img src="img/bt_n_normal.png" alt="N">
          </a>
        </div>
        <div class="col col-20">
          <a href="#/names/{{event.id}}/o">
            <img src="img/bt_o_normal.png" alt="O">
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col col-20">
          <a href="#/names/{{event.id}}/p">
            <img src="img/bt_p_normal.png" alt="P">
          </a>
        </div>
        <div class="col col-20">
          <a href="#/names/{{event.id}}/q">
            <img src="img/bt_q_normal.png" alt="Q">
          </a>
        </div>
        <div class="col col-20">
          <a href="#/names/{{event.id}}/r">
            <img src="img/bt_r_normal.png" alt="R">
          </a>
        </div>
        <div class="col col-20">
          <a href="#/names/{{event.id}}/s">
            <img src="img/bt_s_normal.png" alt="S">
          </a>
        </div>
        <div class="col col-20">
          <a href="#/names/{{event.id}}/t">
            <img src="img/bt_t_normal.png" alt="T">
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col col-20">
          <a href="#/names/{{event.id}}/u">
            <img src="img/bt_u_normal.png" alt="U">
          </a>
        </div>
        <div class="col col-20">
          <a href="#/names/{{event.id}}/v">
            <img src="img/bt_v_normal.png" alt="V">
          </a>
        </div>
        <div class="col col-20">
          <a href="#/names/{{event.id}}/w">
            <img src="img/bt_w_normal.png" alt="W">
          </a>
        </div>
        <div class="col col-20">
          <a href="#/names/{{event.id}}/x">
            <img src="img/bt_x_normal.png" alt="X">
          </a>
        </div>
        <div class="col col-20">
          <a href="#/names/{{event.id}}/y">
            <img src="img/bt_y_normal.png" alt="Y">
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col col-20">
          <a href="#/names/{{event.id}}/z">
            <img src="img/bt_z_normal.png" alt="Z">
          </a>
        </div>
        <div class="col col-80">
          <a href="#/names/{{event.id}}/todos">
            <img src="img/bt_todos_normal.png" alt="TODOS">
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
