<div class="modal">
  <ion-header-bar>
    <h1 class="title">{{event.title}}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="hideEvents()">Fechar</button>
    </div>
  </ion-header-bar>
  <ion-content id="content-events-popup">
    <p>
      <strong>Descrição</strong>
      <br />
      {{event.description}}
    </p>
    <p>
      <strong>Informações</strong>
      <br />
      {{event.information}}
    </p>
    <p>
      <strong>Atrações</strong>
      <br />
      {{event.attractions}}
    </p>
    <div class="list">
      <a class="item item-icon-left" ng-repeat="(color, value) in event.total">
        <img ng-if="color != null && color != ''" src="img/img-color-{{color}}.png" alt="{{color}}">
        <span class="badge badge-dark">{{value}}</span>
      </a>
    </div>
  </ion-content>
</div>